<!DOCTYPE html>
<html>
<head class="h-100 m-0 p-0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hydrus Archive/Delete</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/jquery.touchSwipe.min.js"></script>
    {% for url in next_images %}
    <link rel="preload" as="image" href={{ url }}>
    {%endfor%}
    <style type="text/css">
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    span#tag {
        color: rgb(0, 111, 250);
    }
    #character{
        color: rgb(0, 170, 0);
    }
    #creator {
        color: rgb(170, 0, 0);
    }
    #meta {
        color: rgb(0, 0, 0);
    }
    #person {
        color: rgb(0, 128, 0);
    }
    #series {
        color: rgb(170, 0, 170);
    }
    #studio {
        color: rgb(128, 0, 0);
    }
    </style>
</head>
<body style="background: #19191b" class="h-100 p-0 m-0 d-flex overflow-hidden">
    {{ m }}
    <div class="d-flex flex-column absolute h-100 w-100 overflow-hidden">
        <nav style="flex: none; z-index: 10" class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="nav-link" href="/" style="font-size: 1.5em; font-weight: 600; color: white;">Hydrus Archive/Delete</a>
            <button type="button" class="btn btn-primary float-right ml-auto" data-toggle="modal" data-target="#infoModal">Info</button>
        </nav>
        {% if image %}
        <main class="text-center overflow-hidden m-auto mx-auto justify-content-center align-self-center">
            {% if mime.startswith('image') %}
            <img class="img-responsive mh-100 mw-100" src="{{ image }}">
            {% elif mime.startswith('video') %}
            <video controls autoplay loop muted class="mh-100 mw-100">
                <source src="{{ image }}" type="{{ mime }}"></video>
            {% else %}
            <h1 class="mx-auto text-white nm-text" style="align-self: center;">Not an image or video file. Skipping.</h1>
            {% endif %}
        </main>
        <div style="z-index: 10" class="mb-0 text-center w-auto d-block float-right font-weight-bold text-white bg-dark"><p class="d-inline">{{ current_id }}/{{ total_ids }}</p></div>
        <footer style="flex: none; z-index: 10" class="page-footer bg-dark">
            <form class="mt-3 d-flex form-group">
                <a target="_blank" id="a-d-button" class="btn btn-success flex-fill py-3 mx-1" value="archive">Archive</a>
                <a target="_blank" id="a-d-button" class="btn btn-success flex-fill py-3 mx-1" value="skip">Skip</a>
                <a target="_blank" id="a-d-button" class="btn btn-success flex-fill py-3 mx-1" value="delete">Delete</a>
            </form>
        </footer>
    </div>
    {% endif %}
    <div class="modal bd-modal-xl fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content bg-dark text-light" style="word-wrap: break-word;">
                <div class="modal-header border-primary">
                    <h5 class="modal-title">Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-light" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body border-muted">
                    <div class="list-group">
                        <div class="bg-dark text-light border-muted pb-0 list-group-item list-group-item-action flex-column align-items-start">
                            <h5 class="mb-1 font-weight-bold">Hash</h5>
                            <p>{{ meta['hash'] }}</p>
                        </div>
                        <div class="bg-dark text-light border-muted pb-0 list-group-item list-group-item-action flex-column align-items-start">
                            <h5 class="mb-1 font-weight-bold">Mime</h5>
                            <p>{{ meta['mime'] }}</p>
                        </div>
                        <div class="bg-dark text-light border-muted pb-0 list-group-item list-group-item-action flex-column align-items-start">
                            <h5 class="mb-1 font-weight-bold">Size</h5>
                            <p>{{ filesize }}</p>
                        </div>
                        <div class="bg-dark text-light border-muted pb-0 list-group-item list-group-item-action flex-column align-items-start">
                            <h5 class="mb-1 font-weight-bold">Dimentions</h5>
                            <p>{{ meta['width'] }}px / {{ meta['height'] }}px</p>
                        </div>
                        <div class="bg-dark text-light border-muted pb-1 list-group-item list-group-item-action flex-column align-items-start">
                            <h5 class="mb-1 font-weight-bold">Known Urls</h5>
                            {% for url in known_urls %}
                            <a href={{ url }}>{{ url }}</a>
                            <br>
                            {%endfor%}
                        </div>
                        <div class="bg-dark text-light border-muted pb-0 list-group-item list-group-item-action flex-column align-items-start pb-1">
                            <h5 class="mb-1 font-weight-bold">Tags</h5>
                            <div id="accordion">
                                {% for service in tags %}
                                <div class="card bg-dark text-light border-muted">
                                    <button id={{ service + "-header" }} class="card-header btn" data-toggle="collapse" data-target={{ "#" + service + "-collapse" }} aria-expanded="false" aria-controls={{ service + "-collapse" }}>
                                        <h1 class="text-white text-justify">
                                        {{ service }}
                                        {{ n }}
                                        </h1>
                                    </button>
                                </div>

                                <div id="{{ service + "-collapse" }}" class="collapse" aria-labelledby={{ service + "-header" }} data-parent="#accordion">
                                    <div class="card-body">
                                    {% for tag in tags[service]['0'] %}
                                        <span id="tag">{{ tag }}</span>
                                        <br>
                                    {%endfor%}
                                    </div>
                                </div>
                            {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/show.js"></script>
</body>
</html>