<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hydrus Remote Tagging</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/index.js" defer></script>
</head>

<body style="background: #19191b">
    {% if error %}
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">
            &times;
        </a>
        <strong>Warning!</strong> {{ error }}
    </div>
    {% endif %}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
        <a class="nav-link" href="/" style="font-size: 1.5em; font-weight: 600; color: white;">Hydrus Remote Tagging</a>
        <button type="button" class="btn btn-primary ms-auto m-2" data-bs-toggle="modal"
            data-bs-target="#tagPresentationModal">Settings</button>
    </nav>

    <form action="{{ url_for('ad') }}" method="post" class="text-white">
        <input id="api-url-input" class="form-control mr-sm-2" style="width: 50%; margin: 10px" type="text"
            value="{{ session['api_url'] }}" name="api_url" placeholder="API URL" required>
        <input id="api-key-input" class="form-control mr-sm-2" style="width: 50%; margin: 10px" type="password"
            value="{{ session['api_key'] }}" name="api_key" placeholder="API Key" required>
        <input class="form-control mr-sm-2" style="width: 50%; margin: 10px" type="text" name="tags"
            placeholder="Search Tags (underscores for spaces, spaces as seperator)">
        <input class="form-control mr-sm-2" style="width: 50%; margin: 10px" type="text" name="appendTags"
            placeholder="Tag(s) to append for each tagged file">
        <div class="input-group mb-3" style="width: 50%; margin: 10px">
            <label class="input-group-text" for="fileSort">Sort</label>
            <select class="form-select" id="fileSort" name="fileSort">
                <option disabled>File sort type (▲ / ▼)</label>
                <option value="1">File size (smallest first/largest first)</option>
                <option value="2">Duration (shortest first/longest first)</option>
                <option value="3" selected>Import time (oldest first/newest first)</option>
                <option value="4">Filetype (N/A)</option>
                <option value="5">Random (N/A)</option>
                <option value="6">Width (slimmest first/widest first)</option>
                <option value="7">Height (shortest first/tallest first)</option>
                <option value="8">Ratio (tallest first/widest first)</option>
                <option value="9">Number of pixels (ascending/descending)</option>
                <option value="10">Number of tags (on the current tag domain) (ascending/descending)</option>
                <option value="11">Number of media views (ascending/descending)</option>
                <option value="12">Total media viewtime (ascending/descending)</option>
                <option value="13">Approximate bitrate (smallest first/largest first)</option>
                <option value="14">Has audio (audio first/silent first)</option>
                <option value="15">Modified time (oldest first/newest first)</option>
                <option value="16">Framerate (slowest first/fastest first)</option>
                <option value="17">Number of frames (smallest first/largest first)</option>
            </select>
        </div>
        <div class="input-group mb-3" style="width: 50%; margin: 10px">
            <label class="input-group-text" for="fileOrder">Order</label>
            <select class="form-select" id="fileOrder" name="fileOrder">
                <option value="false" selected>Descending ▼</option>
                <option value="true">Ascending ▲</option>
            </select>
        </div>
        <button class="btn btn-success" style="margin: 10px" type="submit">Search</button>
    </form>

    <div class="modal bd-modal-xl fade" id="infoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-dark text-light" style="word-wrap: break-word;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="text-light">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="settings-modal">
                    <input id="settings-api-url-input" class="form-control w-100 mx-auto"
                        style="width: 50%; margin: 10px" type="text" name="api_url" placeholder="Default API URL">
                    <input id="settings-api-key-input" class="form-control w-100 mx-auto"
                        style="width: 50%; margin: 10px" type="password" name="api_key" placeholder="Default API Key">
                    <button id="settings-tagpresentation-btn" class="btn btn-primary" style="margin: 10px">Tag
                        presentation</button>
                    <button id="settings-save-btn" class="btn btn-primary" style="margin: 10px">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="tagPresentationModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Settings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <h5>Preferences</h5>
                    <input id="settings-api-url-input" class="form-control w-100 mx-auto"
                        style="width: 50%; margin: 10px" type="text" name="api_url" placeholder="Default API URL">
                    <input id="settings-api-key-input" class="form-control w-100 mx-auto"
                        style="width: 50%; margin: 10px" type="password" name="api_key" placeholder="Default API Key">
                    <hr>
                    <h5>Sidebar toggle key</h5>
                    <div class="form-check" style="width: 50%; margin: 10px">
                        <input class="form-check-input" type="radio" value="ctrl" id="sidebarToggleKey1"
                            name="sidebarToggleKey">
                        <label class="form-check-label" for="sidebarToggleKey1">
                            Ctrl
                        </label>
                    </div>
                    <div class="form-check" style="width: 50%; margin: 10px">
                        <input class="form-check-input" type="radio" value="alt" id="sidebarToggleKey2"
                            name="sidebarToggleKey">
                        <label class="form-check-label" for="sidebarToggleKey2">
                            Alt
                        </label>
                    </div>
                    <div class="form-check" style="width: 50%; margin: 10px">
                        <input class="form-check-input" type="radio" value="shift" id="sidebarToggleKey3"
                            name="sidebarToggleKey">
                        <label class="form-check-label" for="sidebarToggleKey3">
                            Shift
                        </label>
                    </div>
                    <hr>
                    <h5>Tag Presentation</h5>
                    <div class="alert alert-danger d-none" role="alert" id="entryAlert">
                        Allowed characters in <b>class-name</b>: a-z, A-Z, 0-9, dash, underscore. Names cannot begin
                        with a
                        number or symbol.
                    </div>
                    <div class="alert alert-danger d-none" role="alert" id="textformatAlert">Incorrect text-only format.
                        Ensure there are no empty lines.</div>
                    <div class="form-floating font-monospace" id="inputText">
                        <textarea class="form-control" id="inputTextarea" wrap="off" style="height: 20em;"
                            disabled></textarea>
                        <label for="inputTextarea">["class-name","Python regex","#ffffff"] per line</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary d-none" id="resetEntry">Reset to Defaults</button>
                    <div class="btn-group">
                        <input type="checkbox" class="btn-check" id="modifyMode" autocomplete="off">
                        <label class="btn btn-outline-warning" for="modifyMode">Modify</label>
                        <button type="button" id="submitEntry" data-bs-dismiss="modal"
                            class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>