<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hydrus Remote Tagging</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/jquery.tablednd.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/index.js" defer></script>
</head>

<body style="background: #19191b">
    {% if error %}
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">
            &times;
        </a>
        <strong>Warning!</strong> {{ error }}
    </div>
    {% endif %}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
        <a class="nav-link" href="/" style="font-size: 1.5em; font-weight: 600; color: white;">Hydrus Remote Tagging</a>
        <button type="button" class="btn btn-primary float-end ml-auto" data-bs-toggle="modal"
            data-bs-target="#tagPresentationModal">Settings</button>
    </nav>

    <form action="{{ url_for('ad') }}" method="post" class="text-white">
        <input id="api-url-input" class="form-control mr-sm-2" style="width: 50%; margin: 10px" type="text"
            value="{{ session['api_url'] }}" name="api_url" placeholder="API URL" required>
        <input id="api-key-input" class="form-control mr-sm-2" style="width: 50%; margin: 10px" type="password"
            value="{{ session['api_key'] }}" name="api_key" placeholder="API Key" required>
        <input class="form-control mr-sm-2" style="width: 50%; margin: 10px" type="text" name="tags"
            placeholder="Search Tags (underscores for spaces, spaces as seperator)">
        <input class="form-control mr-sm-2" style="width: 50%; margin: 10px" type="text" name="appendTags"
            placeholder="Tag(s) to replace Search Tag with (underscore for space, spaces for seperator)">
        <div class="form-check" style="width: 50%; margin: 10px">
            <input class="form-check-input" type="radio" value="inbox" id="flexCheckDefault1" name="location" checked>
            <label class="form-check-label" for="flexCheckDefault1">
                Inbox
            </label>
        </div>
        <div class="form-check" style="width: 50%; margin: 10px">
            <input class="form-check-input" type="radio" value="archive" id="flexCheckDefault2" name="location">
            <label class="form-check-label" for="flexCheckDefault2">
                Archive
            </label>
        </div>
        <button class="btn btn-success" style="margin: 10px" type="submit">Search</button>
    </form>

    <div class="modal bd-modal-xl fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-dark text-light" style="word-wrap: break-word;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-light" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="settings-modal">
                    <input id="settings-api-url-input" class="form-control w-100 mx-auto"
                        style="width: 50%; margin: 10px" type="text" name="api_url" placeholder="Default API URL">
                    <input id="settings-api-key-input" class="form-control w-100 mx-auto"
                        style="width: 50%; margin: 10px" type="password" name="api_key" placeholder="Default API Key">
                    <button id="settings-tagpresentation-btn" class="btn btn-primary" style="margin: 10px">Tag
                        presentation</button>
                    <button id="settings-save-btn" class="btn btn-primary" style="margin: 10px">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="tagPresentationModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tag Presentation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger d-none" role="alert" id="entryAlert">
                        Allowed characters in <b>Name</b>: a-z, A-Z, 0-9, dash, underscore. Names cannot begin with a
                        number.
                    </div>
                    <div class="alert alert-danger d-none" role="alert" id="textformatAlert">Incorrect text-only format.</div>
                    <table class="table align-middle" id="inputGUI">
                        <thead>
                            <tr class="nodrag nodrop">
                                <th scope="col"><input class="form-check-input" type="checkbox" value="" id="allCheck"
                                        disabled></th>
                                <th scope="col">Name</th>
                                <th scope="col"><a href="https://docs.python.org/3/library/re.html">Python Regex</a>
                                </th>
                                <th scope="col">Color</th>
                            </tr>
                        </thead>
                        <tbody class="font-monospace">
                            {% for namespace in namespaces %}
                            <tr>
                                <td><input class="form-check-input select-entry" type="checkbox" value="" disabled>
                                </td>
                                <td class="entry-name">{{ namespace[0] }}</td>
                                <td class="entry-regex">{{ namespace[1] }}</td>
                                <td><input type="color" class="form-control form-control-color"
                                        value="{{ namespace[2] }}" title="Choose your color" disabled></td>
                            </tr>
                            {% endfor %}
                            <!-- <tr>
                                <td>
                                    <div class="form-check">
                                        <input disabled class="form-check-input" type="checkbox" value=""
                                            id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                        </label>
                                    </div>
                                </td>
                                <td>creator</td>
                                <td>^creator:.*</td>
                                <td><input disabled name="tagColor-1" type="color"
                                        class="form-control form-control-color" value="#AA0000"
                                        title="Choose your color">
                                </td>
                            </tr>
                            <tr disabled>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                        </label>
                                    </div>
                                </td>
                                <td><input name="className-1" type="text" class="form-control w-100 mx-auto"
                                        placeholder="Tag / namespace" value="character" disabled></td>
                                <td><input name="tagRegex-1" type="text" class="form-control w-100 mx-auto"
                                        placeholder="matching Regex" value="^character:.*" disabled></td>
                                <td><input name="tagColor-1" type="color" class="form-control form-control-color"
                                        value="#00aa00" title="Choose your color" disabled>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                    <div class="form-floating font-monospace d-none" id="inputText">
                        <textarea class="form-control" id="inputTextarea" wrap="off" style="height: 20em;"></textarea>
                        <label for="inputTextarea">["class-name","Python regex","#ffffff"] per line</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info d-none" id="switchEntryMode"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
                      </svg>
                      </button>
                    <!-- <input type="checkbox" class="btn-check" id="switchEntryMode" autocomplete="off">
                    <label class="btn btn-outline-info d-none" for="switchEntryMode">Text-only mode</label>  -->
                    <button type="button" class="btn btn-secondary d-none" id="resetEntry">Reset to Defaults</button>
                    <div class="btn-group d-none" id="editEntry">
                        <button type="button" class="btn btn-danger" id="deleteEntry">Delete</button>
                        <button type="button" class="btn btn-success" id="addEntry">Add</button>
                    </div>
                    <div class="btn-group">
                        <input type="checkbox" class="btn-check" id="modifyMode" autocomplete="off">
                        <label class="btn btn-outline-warning" for="modifyMode">Modify</label>
                        <button type="button" id="submitEntry" data-bs-dismiss="modal"
                            class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>